<!DOCTYPE html>
<html>
<head>
  <title>E-Joycam</title>
  <%- include('./_header.html') %>
</head>
<body>

  <div id="container">
    <form id="form" method="post" action="<%= baseUrl + '/call' %>" autocomplete="off">
      <h1 class="opacity-logo">
        <img class="opacity-logo" src="<%= baseUrl + '/res/e-joycam.jpeg' %>" width="60%" alt="e-joycam">
      </h1>
      <p>Group calls for everyone. Create a private room. Share the link.</p>
      <input type="text" value="" name="call" placeholder="Room ID (Leave empty for random)" autofocus>
      <input type="submit" value="Start Session">
    </form>


  </div>

</body>
