<!DOCTYPE html>
<html>
  <head>
    <title>E-Joycam</title>
    <%- include('./_header.html') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  </head>
<body>

  <div class="header">
    <img class="opacity-logo" src="<%= baseUrl + '/res/e-joycam.jpeg' %>" width="100x" height="70px" alt="e-joycam">
    <div class="header-text">
      <div class="header-text1">
        <h1>E-JOYCAM</h1>
      </div>
     <ul>
      <li class="header-text2">
       <h4><a href="#features">Features</a></h4> 
      </li>
      <li class="header-text3">
        <h4>
          <a href="#webinar">Webinar</a>

        </h4>
      </li>
      <li class="header-text4">
       <h4>

         <a href="#esvadhyaya">E-SVADHYAYA</a>
       </h4>
      </li>
      <li class="header-text5">
        <h4>

          <a href="#contact">Contact</a>
        </h4>
      </li>
    </ul>
    </div>
  </div>
  
  
  <!-- <div class="image1">
    <img src="<%= baseUrl + '/res/ani3.gif' %>"  height="450px">
  </div> -->
  <div id="container-homepage">
    <form id="form" method="post" action="<%= baseUrl + '/call' %>" autocomplete="off">
    
      <h2>Group calls for everyone. Create a private room. Share the link.</h2>
      <div class="form-input">
        <input type="text" value="" name="call" placeholder="Create private meeting code or Enter via code" autofocus>
      </div>
      <input type="submit" value="Start Session">
      
    </form>
<!--     
          <div class="image1">
             <img src="<%= baseUrl + '/res/ani3.gif' %>"  height="250px">
           </div> -->

  </div>
  <div id="features" class="about">
<div class="about-text">
  <h1><i class="bi bi-info-square-fill"></i>Features</h1>
  <h2><i class="bi bi-chat-left-dots-fill"></i> Chat with your roommates,</h2>
  <h2><i class="bi bi-file-earmark-arrow-up-fill"></i> Send files,images,videos etc.</h2>
  <h2><i class="bi bi-window"></i> Share Screen with roommates,</h2>
  <h2><i class="bi bi-fullscreen"></i> Fullscreen window</h2>
</div>
  <div class="image2">
    <img src="<%= baseUrl + '/res/ani7.gif' %>" height="450px" width="350px">
  </div>
</div>

<div id="webinar" class="webinar-box">
<div class="webinar-text">
  <h1><i class="bi bi-patch-check-fill"></i> Webinar</h1>
    <h2>Comming Soon...</h2>
    <h4>Create or join Webinar of your choice.</h4>
  </div>
<div class="image3">
  <img src="<%= baseUrl + '/res/ani8.gif' %>" width="400px" height="400px">
</div>
</div>

<div class="about1">
  <div class="about-text1">
    <h1><i class="bi bi-check2-square"></i> Attendence , <i class="bi bi-camera-reels-fill"></i> Screen Recording & <i class="bi bi-lightbulb-fill"></i> Torch</h1>
    <h2><i class="bi bi-arrow-right-circle-fill"></i> Download Attendance of present attendees</h2>
    <h2><i class="bi bi-arrow-right-circle-fill"></i> Record and save meeting</h2>
    <h2><i class="bi bi-arrow-right-circle-fill"></i> Highlight your name using torch</h2>
    <h3><i class="bi bi-arrow-right-circle-fill"></i> To be Updated next month...</h2>
  </div>
    <div class="image5">
      <img src="<%= baseUrl + '/res/ani6.gif' %>"  width="400px" height="400px">
    </div>
  </div>

  <div id="esvadhyaya" class="webinar-box1">
    <div class="webinar-text1">
      <h1><a href="https://www.e-svadhyaya.com/" target="_blank" ><i class="bi bi-book-half"></i> E-SVADHYAYA.com</a></h1>
      <br/>
        <h3>'Svadhyaya', as the term in itself means itself , ' Study by your own self'. E-Svadhyaya, is an all in one learning platform, which according to it's name, enables students to study by their self and own their own. Being independent students would be able to make their future strong by learning the topic of their choice from any teacher within the world. At the same time, E-Svadhyaya also offers the teachers and institutes to teach and impart thier knowledge worlwide online. It enable institutes to easily take their education online through many of it's advance features provided. Some other features are also there to become even financially independent and to make personality and future even more stronger i.e. Freelancing, job opportunities , selling recorded course video lectures , organising or taking webinars and many other advanced features also.</h3>
      </div>
    <div class="image6">
      <a href="https://www.e-svadhyaya.com/" target="_blank" >
        <img src="<%= baseUrl + '/res/log4.jpg' %>"  width="160px" height="350px" >
      
      </a>
    </div>
  </div>

<div id="contact" class="extra">
  <div class="extra-text">
    <h1><i class="bi bi-envelope-fill"></i> Contact Us</h1>
    <h3>For any query or help mail us at : contact@e-svadhyaya.com</h3>
  </div>
    <div class="image4">
      <img src="<%= baseUrl + '/res/mail3.gif' %>" height="400px">
    </div>
  </div>

  <footer>
    
    <div class="footer-text">
    <div class="footer-text1">
      <ul>
        <li><h1>SVADHYAYA.com</h1></li>
        <li><h3>'SVADHYAYA' ,as the term it itself means study by your own self</h3></li>
        <li><h3>'E-SVADHYAYA' ,is an all in one learning platform, which according to its name,enables students to study by their own.

        </h3></li>
      </ul>
    </div>
    <div class="footer-text2">
      <ul>
        <li><h2>About</h2></li>
        <li><h3>About us</h3></li>
        <li><h3>Privacy policies</h3></li>
        <li><h3>Terms of Services</h3></li>
      
      </ul>
    </div>
    <div class="footer-text3">
      <ul>
        <li><h2>CONTACT US</h2></li>
        <li><h3> Address
          SVADHYAYA India</h3></li>
          <li><h3> Mail
            contact@e-svadhyaya.com</h3></li>
      </ul>
    </div>
  </div>
  <br/>
  
</footer>
<div class="footer-text4">
  <span>© 2020 Copyright: SVADHYAYA.pvt.ltd</span>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
  <script>
    gsap.from(".image3 , .image6 , .about-text , .about-text1 , .extra-text , .opacity-logo", { duration: 3, x: -500, opacity: 0, scale: 0.5 });
    gsap.from(".image4 ,.image2 ,.image5", { duration: 3, x: 500, opacity: 0, scale: 0.5 });
    gsap.from(".header-text1", { duration: 2, y: -200, opacity: 0, scale: 0.5 });
    gsap.from(".header-text2, .header-text3 , .header-text4, .header-text5 , .webinar-text1 , .webinar-text", { duration: 3, x: 500, opacity: 0, scale: 0.5 });
  </script>

</body>
