<!DOCTYPE html>
<html>
  <head>
    <title>E-Joycam</title>
    <%- include('./_header.html') %>
  </head>
<body>

  <div class="header">
    <img class="opacity-logo" src="<%= baseUrl + '/res/e-joycam.jpeg' %>" width="100x" height="70px" alt="e-joycam">
    <div class="header-text">
      <div class="header-text1">
        <h1>E-JOYCAM</h1>
      </div>
      <div class="header-text2">
        <h4>Plans</h4>
      </div>
      <div class="header-text3">
        <h4>FAQ</h4>
      </div>
         
      
      
      
  </div>
  </div>
  
   <div class="image1">
     <img src="<%= baseUrl + '/res/video-conference-3.jpg' %>" width="100%" height="700px">
   </div>

  <div id="container-homepage">
    <form id="form" method="post" action="<%= baseUrl + '/call' %>" autocomplete="off">
    
      <h2>Group calls for everyone. Create a private room. Share the link.</h2>
      <input type="text" value="" name="call" placeholder="Room ID (Leave empty for random)" autofocus>
      <input type="submit" value="Start Session">
    </form>


  </div>
  <div class="about">
<div class="about-text">
  <h1>About</h1>
  <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, officiis?</h3>
</div>
  <div class="image2">
    <img src="<%= baseUrl + '/res/video-conference-2.png' %>">
  </div>
</div>
<div class="webinar-box">
<div class="webinar-text">
  <h1>Webinar</h1>
  <h2>Comming Soon</h2>
  <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3></div>
<div class="image3">
  <img src="<%= baseUrl + '/res/video-conference-1.png' %>">
</div>
</div>

<div class="extra">
  <div class="extra-text">
    <h1>Extra</h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quasi ex maxime, explicabo quibusdam molestias?</h3>
  </div>
    <div class="image4">
      <img src="<%= baseUrl + '/res/video-conference-5.png' %>">
    </div>
  </div>

  <footer>
    <div class="footer-text">
    <div class="footer-text1">
      <ul>
        <li><h1>SVADHYAYA.com</h1></li>
        <li><h3>'SVADHYAYA' ,as the term it itself means study by your own self</h3></li>
        <li><h3>'E-SVADHYAYA' ,is an all in one learning platform, which according to its name,enables students to study by their own.

        </h3></li>
      </ul>
    </div>
    <div class="footer-text2">
      <ul>
        <li><h2>About</h2></li>
        <li><h3>About us</h3></li>
        <li><h3>Privacy policies</h3></li>
        <li><h3>Terms of Services</h3></li>
      
      </ul>
    </div>
    <div class="footer-text3">
      <ul>
        <li><h2>CONTACT US</h2></li>
        <li><h3> Address
          SVADHYAYA India</h3></li>
          <li><h3> Mail
            contact@e-svadhyaya.com</h3></li>
      </ul>
    </div>
  </div>
    <div class="footer-text4">
      <span>© 2020 Copyright: SVADHYAYA.pvt.ltd</span>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
  <script>
    gsap.from(".image1", { duration: 2, x: 500, opacity: 0, scale: 0.5 });
    gsap.from("#container-homepage", { duration: 2, x: -300, opacity: 0, scale: 0.5 })
    gsap.from(".image2", { duration: 2, x: 500, opacity: 0, scale: 0.5 });
    gsap.from(".image3", { duration: 2, x: -500, opacity: 0, scale: 0.5 });
    gsap.from(".image4", { duration: 2, x: 500, opacity: 0, scale: 0.5 });
    gsap.from(".header-text1", { duration: 2, y: -200, opacity: 0, scale: 0.5 });
    gsap.from(".header-text2, .header-text3", { duration: 2, x: 500, opacity: 0, scale: 0.5 });
  </script>

</body>
