.toolbar {
  // margin-left: 15rem;
  // padding-left: 200px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  // margin-bottom: 15px;
  display: flex;
  margin-left: 5px;
  flex-direction: row;
  // background-color: black;
  // border-radius: 40px;
  /* on icons are hidden by default */

  .icon {
    position: relative;
    // margin-bottom: 10px;
    // margin-left: 5px;

    font-size: 24px;
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 24px rgba(black, 0.3);
    transition: all 0.1s;
    transition-timing-function: ease-in-out;

    &::before {
      position: absolute;
      left: 1px;
      right: 0;
      text-align: center;
      top: 12px;
    }

    .badge {
      font-family: sans-serif;
      font-weight: bold;
      color: white;
      position: relative;
      font-size: 12px;
      top: 23px;
    }
  }

  .tooltip {
    margin-left: 2px;
    opacity: 0;
    visibility: hidden;
    color: white;
    text-shadow: 0 0 5px black;
    transition: opacity 200ms ease-in 25ms, transform 100ms ease-in;
    transform: translateX(-100%);
    pointer-events: none;
    position: absolute;
    left: 10%;
    top: -70%;
    bottom: 0;
    white-space: nowrap;
    line-height: 48px;
  }

  .button {
    outline: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
    &:hover {
      .icon {
        box-shadow: 2px 2px 24px rgba(white, 0.5);
        cursor: pointer;
        background-color: #004b7c;
        // #407cf7
      }
      .icon.icon-call_end {
        background-color: #dd2c00;
      }
      .tooltip {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
    &.on .icon {
      background: lighten(#407cf7, 10%);
    }
  }

  .button + .button {
    margin-top: 1rem;
  }

  .chat {
    background-color: black;
    position: fixed;
    border-radius: 20px;
    box-shadow: 2px 2px 24px rgba(black, 0.3);
    top: 10px;
    left: 3px;
    // margin-top: -600px;
  }
  .send-file {
    background-color: black;
    position: fixed;
    border-radius: 20px;
    box-shadow: 2px 2px 24px rgba(black, 0.3);
    top: 50px;
    left: 3px;
    // margin-bottom: 550px;
  }
  .stream-desktop {
    background-color: black;
    position: fixed;
    border-radius: 20px;
    box-shadow: 2px 2px 24px rgba(black, 0.3);
    top: 105px;
    left: 3px;
  }
  .fullscreen {
    background-color: black;
    position: fixed;
    border-radius: 20px;
    box-shadow: 2px 2px 24px rgba(black, 0.3);
    // top: -455px;
    // left: -145px;
    top: 160px;
    left: 3px;
  }

  .mute-audio {
    position: fixed;
    background-color: black;
    padding: 5px;
    border-radius: 20px;
    bottom: 25px;
    // left: 43%;
    @media screen and (min-width: 400px) {
      left: 20%;
    }
    @media screen and (min-width: 900px) {
      left: 43%;
    }
  }
  .mute-video {
    background-color: black;
    padding: 5px;
    border-radius: 20px;
    position: fixed;
    bottom: 25px;

    // left: 48%;
    @media screen and (min-width: 400px) {
      left: 50%;
    }
    @media screen and (min-width: 900px) {
      left: 48%;
    }
  }

  .hangup {
    background-color: black;
    padding: 5px;
    border-radius: 20px;
    position: fixed;
    bottom: 25px;
    // left: 53%;

    @media screen and (min-width: 400px) {
      left: 80%;
    }
    @media screen and (min-width: 900px) {
      left: 53%;
    }
  }

  .fullscreen > .tooltip {
    left: 100%;
    top: 0;
    bottom: 0;
  }
  .stream-desktop > .tooltip {
    left: 100%;
    top: 0;
    bottom: 0;
  }
  .send-file > .tooltip {
    left: 100%;
    top: 0;
    bottom: 0;
  }
  .chat > .tooltip {
    left: 100%;
    top: 0;
    bottom: 0;
  }

  .chat.blink .icon {
    -webkit-animation: bg-blink 1s infinite;
    -moz-animation: bg-blink 1s infinite;
    animation: bg-blink 1s infinite;
  }
}

@media screen and (min-width: 480px) {
  .hangup {
    left: 80%;
  }
  .mute-video {
    left: 50%;
  }
  .mute-audio {
    left: 3%;
  }
}

// @-webkit-keyframes bg_blink {
//   50% {
//     background-color: #407cf7;
//   }

//   99% {
//     background-color: #407cf7;
//   }
// }

@-moz-keyframes bg-blink {
  50% {
    background-color: #407cf7;
  }

  99% {
    background-color: #407cf7;
  }
}

@keyframes bg-blink {
  50% {
    background-color: #407cf7;
  }

  99% {
    background-color: #407cf7;
  }
}
