$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-monospace: Menlo, Monaco, Consolas, "Ubuntu Mono", monospace;

// #0d5f7d;
$color-bg: #6ba8c2;
$color-fg: #0f58ac;
$color-btn: #fff1d0;
$color-menu: #ccc;
$color-text: #333;
$icon-size: 48px;

$color-primary: white;
$color-info: #31ef40;
$color-warning: #f0c808;
$color-error: #ee7600;
