@import "_fonts";
@import "_variables";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html,
body {
  z-index: -99;
}

body {
  // background-image: linear-gradient(120deg, #c2daff 0%, #649df3 100%);
  background-color: #bfd5f7;
  color: $color-fg;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100%;
  // padding-bottom: 3rem;
  position: relative;
  h1,
  h2,
  h4,
  h3 {
    margin: 5px;
  }
}

footer {
  position: relative;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;

  @media screen and (min-width: 100px) {
    height: 480px;
    margin-top: 200px;
  }
  @media screen and (min-width: 720px) {
    height: 230px;
    margin-top: 0;
  }

  .footer-text {
    // display: flex;

    ul {
      list-style: none;
    }
    .footer-text1 {
      float: left;
      padding: 10px;
      @media screen and (min-width: 100px) {
        width: 90%;
      }
      @media screen and (min-width: 720px) {
        width: 40%;
      }
      margin: 10px;
    }
    .footer-text2 {
      float: left;
      @media screen and (min-width: 100px) {
        width: 90%;
      }
      @media screen and (min-width: 720px) {
        width: 30%;
        // width: 40%;
      }
      padding: 10px;
      margin: 10px;
    }
    .footer-text3 {
      padding: 10px;
      float: left;
      @media screen and (min-width: 100px) {
        width: 90%;
      }
      @media screen and (min-width: 720px) {
        width: 20%;
        // width: 40%;
      }

      margin: 10px;
    }
  }
}

.footer-text4 {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
}

.header {
  position: relative;
  padding: 0;
  display: flex;
  height: 90px;
  top: 0;
  width: 100%;
  background-image: linear-gradient(120deg, #649df3 0%, #c2daff 100%);
  text-align: center;
  color: black;
  .header-text {
    width: 100%;
    display: flex;
    // float: left;

    margin: auto;
    text-align: center;
    .header-text1 {
      width: 50%;
      text-align: left;
    }
    .header-text2,
    .header-text3,
    .header-text4,
    .header-text5 {
      // width: 30%;
      margin-top: 5px;
      list-style: none;
      margin-left: 10px;
      float: left;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.image1 {
  position: relative;
  // float: left;
  // width: 20%;
  @media screen and (min-width: 100px) {
    width: 100%;
    left: 0%;
    top: 250px;
  }
  @media screen and (min-width: 720px) {
    top: 0;
    left: 65%;
    width: 50%;
  }
  //   left: 55%;
  //   margin-top: 20px;
  //   // padding: 10px;
  //   // margin: 10px;

  //   @media screen and (min-width: 100px) {
  //     // margin-top: 30%;
  //     visibility: hidden;
  //   }
  //   @media screen and (min-width: 720px) {
  //     // margin-top: 0;
  //     visibility: visible;
  //   }
}
.image2,
.image5 {
  position: relative;
  float: left;
  // height: 50%;
  // right: 0;
  // margin-left: 50%;
  @media screen and (min-width: 100px) {
    width: 100%;
    left: 0%;
    top: 50%;
  }
  @media screen and (min-width: 720px) {
    top: 0;
    left: 50%;
    width: 50%;
  }
  img {
    width: 90%;
  }
}

.image4 {
  position: relative;
  float: left;
  // height: 50%;
  // right: 0;
  // margin-left: 50%;
  @media screen and (min-width: 100px) {
    width: 100%;
    left: 0%;
    top: 30%;
  }
  @media screen and (min-width: 720px) {
    top: 0;
    left: 50%;
    width: 50%;
  }
  img {
    width: 90%;
  }
}

.image3 {
  position: relative;
  left: 0;
  float: left;
  // width: 50%;
  @media screen and (min-width: 100px) {
    width: 100%;
    top: 30%;
  }
  @media screen and (min-width: 720px) {
    top: 0;
    width: 50%;
  }
  img {
    width: 90%;
  }
}

.image6 {
  position: relative;
  left: 0;
  float: left;
  // width: 50%;
  @media screen and (min-width: 100px) {
    width: 100%;
    top: 480px;
  }
  @media screen and (min-width: 720px) {
    top: 0;
    width: 50%;
  }
  img {
    width: 90%;
  }
}

.webinar-text {
  position: absolute;
  // width: 45%;
  margin: 10px;
  padding: 10px;
  float: left;
  z-index: 2;
  @media screen and (min-width: 100px) {
    width: 100%;
    left: 0;
    // top: 50%;
    margin-top: 3%;
  }
  @media screen and (min-width: 720px) {
    left: 50%;
    width: 50%;
    // top: 0;
    margin-top: 8%;
  }
}
.webinar-text1 {
  position: absolute;

  // width: 45%;
  // margin: 10px;
  padding: 12px;
  float: left;
  @media screen and (min-width: 100px) {
    width: 100%;
    left: 0;
    margin-top: 0%;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 720px) {
    left: 50%;
    width: 45%;
    margin-top: 1%;
    margin-bottom: 0;
  }
}
.about-text,
.about-text1,
.extra-text {
  position: absolute;
  margin: auto;
  float: left;
  // width: 45%;
  margin: 10px;
  padding: 10px;

  @media screen and (min-width: 100px) {
    width: 95%;
    margin-top: 5%;
  }
  @media screen and (min-width: 720px) {
    width: 45%;
    margin-top: 5%;
  }
}

#container-homepage {
  background-color: #041a3a;
  border: 1px solid black;
  border-radius: 100px;
  position: relative;
  width: 80%;
  top: 4%;
  z-index: 1;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 60px;
  text-align: center;
  left: 10%;
  @media screen and (min-width: 100px) {
    height: 600px;
  }
  @media screen and (min-width: 720px) {
    height: 400px;
  }
}
.about,
.about1,
.webinar-box1 {
  h1 {
    text-align: center;
  }
  text-align: left;
  width: 100%;
  background-color: #649df3;
  border-radius: 40px;
  // border: 2px solid #041a3a;
  @media screen and (min-width: 100px) {
    height: 950px;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 720px) {
    height: 500px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  padding: 10px;
}
.webinar-box {
  h1 {
    text-align: center;
  }
  text-align: left;
  width: 100%;
  background-color: #649df3;
  border-radius: 40px;
  // border: 2px solid #041a3a;
  @media screen and (min-width: 100px) {
    height: 650px;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 720px) {
    height: 500px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  padding: 10px;
}

.extra {
  text-align: center;
  width: 100%;
  background-color: #649df3;
  border-radius: 40px;
  @media screen and (min-width: 100px) {
    height: 600px;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 720px) {
    height: 500px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  padding: 10px;
}

body.call {
  background-image: url("../res/e-joycam.jpeg");
  background-size: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}

@mixin button-style($color-fg, $color-bg) {
  background-color: $color-bg;
  border: none;
  border-bottom: 2px solid darken($color-bg, 10%);
  border-radius: 4px;
  box-sizing: border-box;
  color: $color-fg;
  // font-size: 1.2rem;
  text-shadow: 0 0 0.35rem rgba(0, 0, 0, 0.6);
}

@mixin button($color-fg, $color-bg) {
  @include button-style($color-fg, $color-bg);
  cursor: pointer;

  &:hover {
    outline: none;
    @include button-style($color-fg, darken($color-bg, 5%));
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 1rem rgba(black, 0.4);
  }

  &:active {
    outline: none;
    transform: translate(0px, 1px);
    @include button-style($color-fg, darken($color-bg, 10%));
  }
}

#form {
  padding-top: 30px;
  // width: 40%;
  // padding-bottom: 100px;
  position: absolute;
  // float: left;
  text-align: center;
  @media screen and (min-width: 100px) {
    left: 0;
    width: 100%;
  }
  @media screen and (min-width: 720px) {
    width: 60%;
    left: 5%;
  }
  height: 350px;
  // margin: 0 auto;

  color: white;

  p {
    font-size: larger;
    margin: 50px 0;
    color: black;
  }

  .form-input {
    display: flex;
    flex-direction: row;
  }
  input[type="text"] {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1.2rem;
    padding: 1rem 0rem 0.75rem;
    width: 100%;
    margin: 0.5rem;
    // margin-bottom: 1rem;
    background-color: white;
    border-radius: 30px;
    border: none;
    border-bottom: 2px solid rgba($color-error, 0);
    transition: border-bottom 200ms ease-in;
    text-align: center;
    color: black;
    position: relative;

    &:focus {
      border-bottom: 2px solid $color-error;
      outline: none;
    }
  }

  input[type="submit"] {
    font-family: $font-monospace;
    @include button($color-primary, $color-error);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1.2rem;
    padding: 1rem 1rem;
  }

  ::-webkit-input-placeholder {
    color: $color-fg;
    text-align: center;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: $color-fg;
    text-align: center;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $color-fg;
    text-align: center;
  }

  :-ms-input-placeholder {
    color: $color-fg;
    text-align: center;
  }
}

.prerelease {
  width: 300px;
  margin: 4rem auto 0;
  text-align: center;

  .round {
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    background-color: $color-warning;
    border-radius: 50%;
    margin-right: 0.25rem;
    margin-bottom: -1px;
  }

  &,
  p {
    color: $color-fg;
  }

  a {
    color: lighten($color-fg, 5%);
  }
}

.warning {
  color: $color-warning;
}

.error {
  color: $color-error;
}

.info {
  color: $color-info;
}

.app {
  @import "_alert";
  @import "_notification";
  @import "_video";
  @import "_chat";
  @import "_media";
  @import "_toolbar";
  @import "_dropdown";
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

.side {
  position: absolute;
  display: flex;
  transition: right cubic-bezier(0.55, 0, 0, 1) 500ms;

  &.left {
    flex-direction: row;
    left: 0;
    top: 0;
    bottom: 0;
  }

  &.right {
    flex-direction: row;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &.top {
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
  }

  &.bottom {
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.app .chat-visible {
  right: 320px;
}

.opacity-logo {
  opacity: 1;
  background-color: #057f9ba1;
  border-radius: 40px;
  margin: 10px;
  // padding: 40px
}

a {
  // text-decoration: none;

  color: $color-fg;
}
